{% extends 'main/layout.html' %}
{% block title %}News on site{% endblock %}
{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga voluptates deleniti voluptatem, debitis, tempora ab recusandae eos eligendi accusamus totam delectus blanditiis mollitia sint. Alias molestiae reiciendis ipsam minus maiores!</p>
        <button class = "btn btn-warning"> on page about us</button>
    </div>
{% endblock %}