{% extends 'main/layout.html' %}

{% block title %}About us{% endblock %}

{% block content %}
<div class="about-container">
    <h1>About us</h1>
    <p>Welcome to BlogNest — your go-to place for sharing ideas, stories, and knowledge!
    Our blog offers a clean, user-friendly platform where you can explore a variety of topics, read insightful posts, and connect with a vibrant community. With easy registration and full control over your content, you can create, edit, and manage your posts effortlessly.
    Whether you're here to discover new perspectives or share your own, BlogNest is designed to make blogging simple, enjoyable, and meaningful. Join us today and start your writing journey!</p>
</div>
{% endblock %}
